*.d
*.o
*.obj
*.out
*.a
*.res
*.lib
*.dll
*.exe
*.pyc
*.pyd
*.dat

*.depend
*.layout
*.log
*.stackdump

out*
*temp*

data/data.cc
!data/pattern.dat

*.dot
optimize/*.png
optimize/*/*.png

single/*.cc

!optimize/*.exe
!optimize/*/*.exe

python/reversi.py
python/*wrap.*

wxsmith/*.xrc

doc/*