*.d
*.o
*.obj
*.out
*.a
*.res
*.lib
*.dll
*.exe
*.pyc
*.pyd
*.dat

*.depend
*.layout
*.log
*.stackdump

out*
*temp*

*.dot
*.png

single/*.cc

!optimize/*.exe
!optimize/*/*.exe

python/reversi.py
python/*wrap.*

wxsmith/*.xrc

doc/*