*.d
*.o
*.obj
*.out
*.a
*.so
*.res
*.lib
*.dll
*.exe
*.pyc
*.pyd
*.dat

*.depend
*.layout
*.log
*.stackdump

*reversi

out*
*temp*

data/data.cc
!data/pattern.dat

*.dot
profile/*.png

*merge.cc

python/reversi.py
python/*wrap.*
python/image/*

doc/*

build/*
!build/CMakeLists.txt

cpuid/*
!cpuid/*.cc

pyinstaller/build/*
pyinstaller/dist/*
pyinstaller/cmake_build/*
