<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="reversi_guiFrame">
		<title>Reversi</title>
		<icon>E:\LLK\ComputerSci\Cplusplus\reversi\image\Reversi.bmp</icon>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<object class="sizeritem">
				<object class="wxPanel" name="id_panel_base" variable="panel_base" member="yes">
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<object class="wxBoxSizer" variable="BoxSizer2" member="yes">
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxPanel" name="id_panel_board" variable="panel_board" member="yes">
										<size>424,424</size>
										<bg>#2B9B00</bg>
										<style>wxSUNKEN_BORDER|wxTAB_TRAVERSAL</style>
										<handler function="on_panel_board_paint" entry="EVT_PAINT" />
										<handler function="on_panel_board_leftdown" entry="EVT_LEFT_DOWN" />
									</object>
									<flag>wxALL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer4" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="id_text_label" variable="text_label" member="yes">
										<label>Reversi</label>
										<size>154,51</size>
										<fg>#C8C8C8</fg>
										<font>
											<size>26</size>
											<style>normal</style>
											<weight>bold</weight>
											<underlined>0</underlined>
											<family>swiss</family>
											<face>Segoe Script</face>
										</font>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxNotebook" name="id_notebook" variable="notebook" member="yes">
										<size>448,296</size>
										<font>
											<size>12</size>
											<style>normal</style>
											<weight>bold</weight>
											<underlined>0</underlined>
											<family>swiss</family>
											<face>Consolas</face>
										</font>
										<object class="notebookpage">
											<object class="wxTextCtrl" name="id_text_term" variable="text_term" member="yes">
												<fg>#C8C8C8</fg>
												<bg>#202020</bg>
												<font>
													<size>14</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
													<face>Consolas</face>
												</font>
												<style>wxTE_MULTILINE|wxTE_READONLY</style>
											</object>
											<label>terminal</label>
										</object>
										<object class="notebookpage">
											<object class="wxTextCtrl" name="id_text_log" variable="text_log" member="yes">
												<fg>#C8C8C8</fg>
												<bg>#202020</bg>
												<font>
													<size>14</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
													<face>Consolas</face>
												</font>
												<style>wxTE_MULTILINE|wxTE_READONLY</style>
											</object>
											<label>log</label>
										</object>
										<object class="notebookpage">
											<object class="wxTreeCtrl" name="id_book_tree" variable="book_tree" member="yes">
												<image_list></image_list>
												<tree_items>
													<item>book_tree</item>
													<item></item>
												</tree_items>
												<items_text>
													<item2>book_tree</item2>
													<item2></item2>
												</items_text>
												<fg>#C8C8C8</fg>
												<bg>#202020</bg>
												<font>
													<size>14</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
													<face>Consolas</face>
												</font>
											</object>
											<label>book</label>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="id_text_input" variable="text_input" member="yes">
										<size>266,30</size>
										<fg>#C8C8C8</fg>
										<bg>#202020</bg>
										<font>
											<size>14</size>
											<style>normal</style>
											<weight>bold</weight>
											<underlined>0</underlined>
											<family>swiss</family>
											<face>Consolas</face>
										</font>
										<style>wxTE_PROCESS_ENTER|wxTE_PROCESS_TAB</style>
										<handler function="on_text_input_textenter" entry="EVT_TEXT_ENTER" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="menubar" member="no">
			<object class="wxMenu" variable="menu" member="no">
				<label>&amp;File</label>
				<object class="wxMenu" name="id_menu_new" variable="menu_new" member="yes">
					<label>New Game</label>
					<object class="wxMenuItem" name="id_menu_black" variable="menu_black" member="yes">
						<label>Player &amp;Black</label>
						<accel>Ctrl-B</accel>
						<handler function="on_black" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="id_menu_white" variable="menu_white" member="yes">
						<label>Player &amp;White</label>
						<accel>Ctrl-W</accel>
						<handler function="on_white" entry="EVT_MENU" />
					</object>
				</object>
				<object class="wxMenuItem" name="id_menu_load" variable="menu_load" member="yes">
					<label>&amp;Load</label>
					<accel>Ctrl-L</accel>
					<handler function="on_load" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="id_menu_save" variable="menu_save" member="yes">
					<label>&amp;Save</label>
					<accel>Ctrl-S</accel>
				</object>
				<object class="wxMenuItem" name="id_menu_quit" variable="menu_quit" member="no">
					<label>&amp;Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="menu_edit" member="yes">
				<label>&amp;Edit</label>
				<object class="wxMenuItem" name="id_menu_undo" variable="menu_undo" member="yes">
					<label>&amp;Undo</label>
					<accel>Ctrl-Z</accel>
					<handler function="on_undo" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="id_menu_redo" variable="menu_redo" member="yes">
					<label>&amp;Redo</label>
					<accel>Ctrl-Y</accel>
					<handler function="on_redo" entry="EVT_MENU" />
				</object>
				<object class="wxMenu" name="id_menu_trans" variable="menu_trans" member="yes">
					<label>&amp;Transform</label>
					<object class="wxMenuItem" name="id_menu_mirror_h" variable="menu_mirror_h" member="yes">
						<label>Mirror &amp;Horizontally</label>
						<accel>Alt+H</accel>
						<handler function="on_transform" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="id_menu_mirror_v" variable="menu_mirror_v" member="yes">
						<label>Mirror &amp;Vertically</label>
						<accel>Alt+V</accel>
						<handler function="on_transform" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="id_menu_reflect" variable="menu_reflect" member="yes">
						<label>&amp;Reflect</label>
						<accel>Alt+R</accel>
						<handler function="on_transform" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="id_menu_rotate_r" variable="menu_rotate_r" member="yes">
						<label>Rotate &amp;Clockwise</label>
						<accel>Alt+C</accel>
						<handler function="on_transform" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="id_menu_rotate_l" variable="menu_rotate_l" member="yes">
						<label>Rotate Coun&amp;terclockwise</label>
						<accel>Alt+T</accel>
						<handler function="on_transform" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="id_menu_reverse" variable="menu_reverse" member="yes">
						<label>Reverse</label>
						<accel>Alt+S</accel>
						<handler function="on_transform" entry="EVT_MENU" />
					</object>
				</object>
				<object class="wxMenu" name="id_menu_clear" variable="menu_clear" member="yes">
					<label>&amp;Clear</label>
					<handler function="on_clear_all" entry="EVT_MENU" />
					<object class="wxMenuItem" name="id_menu_clear_log" variable="menu_clear_log" member="yes">
						<label>&amp;Log</label>
						<handler function="on_clear_log" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="id_menu_clear_term" variable="menu_clear_term" member="yes">
						<label>&amp;Terminal</label>
						<handler function="on_clear_term" entry="EVT_MENU" />
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="menu_set" member="yes">
				<label>&amp;Settings</label>
				<object class="wxMenu" name="id_menu_alg" variable="menu_alg" member="yes">
					<label>&amp;Algorithm</label>
					<object class="wxMenuItem" name="id_menu_alg_rnd" variable="menu_alg_rnd" member="yes">
						<label>&amp;Random</label>
						<handler function="on_menu_alg" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="separator" />
					<object class="wxMenuItem" name="id_menu_alg_ab" variable="menu_alg_ab" member="yes">
						<label>&amp;Alpha-Beta Pruning</label>
						<checked>1</checked>
						<handler function="on_menu_alg" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_alg_pvs" variable="menu_alg_pvs" member="yes">
						<label>Principal &amp;Variation Search</label>
						<handler function="on_menu_alg" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_alg_trans" variable="menu_alg_trans" member="yes">
						<label>&amp;Transposition Table</label>
						<checked>1</checked>
						<handler function="on_menu_alg" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_alg_kill" variable="menu_alg_kill" member="yes">
						<label>&amp;Killer Heuristic</label>
						<checked>1</checked>
						<handler function="on_menu_alg" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_alg_mtdf" variable="menu_alg_mtdf" member="yes">
						<label>&amp;Memory-Enhanced Test Driver</label>
						<checked>1</checked>
						<handler function="on_menu_alg" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_alg_iter" variable="menu_alg_iter" member="yes">
						<label>&amp;Iterative Deepening Search</label>
						<enabled>0</enabled>
						<handler function="on_menu_alg" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_alg_ptn" variable="menu_alg_ptn" member="yes">
						<label>&amp;Pattern</label>
						<checked>1</checked>
						<handler function="on_menu_alg" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_alg_mpc" variable="menu_alg_mpc" member="yes">
						<label>Multi-Probability &amp;Cut</label>
						<handler function="on_menu_alg" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
				</object>
				<object class="wxMenu" name="id_menu_level" variable="menu_level" member="yes">
					<label>&amp;Level</label>
					<object class="wxMenuItem" name="id_menu_level1" variable="menu_level1" member="yes">
						<label>Level 1</label>
						<handler function="on_menu_level" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_level2" variable="menu_level2" member="yes">
						<label>Level 2</label>
						<handler function="on_menu_level" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_level3" variable="menu_level3" member="yes">
						<label>Level 3</label>
						<handler function="on_menu_level" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_level4" variable="menu_level4" member="yes">
						<label>Level 4</label>
						<handler function="on_menu_level" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_level5" variable="menu_level5" member="yes">
						<label>Level 5</label>
						<handler function="on_menu_level" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_level6" variable="menu_level6" member="yes">
						<label>Level 6</label>
						<handler function="on_menu_level" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_level7" variable="menu_level7" member="yes">
						<label>Level 7</label>
						<handler function="on_menu_level" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_level8" variable="menu_level8" member="yes">
						<label>Level 8</label>
						<checked>1</checked>
						<handler function="on_menu_level" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="id_menu_level9" variable="menu_level9" member="yes">
						<label>Level 9</label>
						<handler function="on_menu_level" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="id_menu_about" variable="menu_about" member="no">
					<label>&amp;About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="id_statusbar" variable="statusbar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxFileDialog" variable="dialog_load" member="yes">
			<message>Select file</message>
			<wildcard>*.tcl</wildcard>
		</object>
	</object>
</wxsmith>
